:root {
  --top-scroll-after-bgc: #919191;

}

/* 바디, 전체에 동일하게 줄 설정 */
.body {
  margin: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

/* -------------------------------------------- 상단바 */
/* 탑 상단바. */
.top {
  position: fixed ;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  background-color: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------------------------- 상단바 좌측 아이콘들 */
.top_logo_left{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40%;
  height: 70px;
}
/* 상단바 우측의 로고 글씨 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

.top_logo_text_left{
  font-family: 'Exo 2', sans-serif;
  margin-left: 20px;
  color: #f8f8ff;
  
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}
.top_logo_text_left:hover{
  color: #f8f8ff;
  text-shadow: 0 0 20px #d721f3d5, 0 0 50px #d721f3d5, 0 0 100px #d721f3d5;
}
/* -------------------------------------------- 상단바 우측 아이콘들 */
/* 상단바 메뉴들. */
.top_nav_right{
  display: flex;
  justify-content: right;
  align-items: center;
}
/* 리스트 설정 */
.list_Style{
  list-style-type: none;
  margin-right: 15px;
  font-weight: bold;
}
.list_Style>a {
  text-decoration: none;
  font-size: 20px;
  color: #f8f8ff;
}
.nav_login_btn {
  display: flex;
  width: 150px;
  height: 40px;
  background-color: black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  transition-duration: 0.5s;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.nav_login_btn:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
  font-size: 22px;
}

/* ---------------------------------------------- 메인 컨테이너 */
.main_container2{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f8f8ff;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.h1_con{
  font-size: large;
  font-weight: 300;
}
.main_box{
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);


  width: 90%;
  height: 100%;
  transition-property: 1000px;
}
.box{
  margin: 20px;
  border-radius: 10px;
  background-color: #f8f8ff;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}
.box:hover{
  transform: perspective(3000px) rotateY(5deg);

}
/* -----------------------------------로그인 박스 */
.login_page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login_box{
  padding: 10px;

  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: transparent;
  width: 400px;
  height: 370px;
  border: 1px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(60px);
  box-shadow: 0 0 40px rgba(0, 0, 0, .6);
  border-radius: 10px;
}
.login_box_header_name{
  width: 90%;
  height: 80px;

  text-align: left;

  font-size: 24px;
  color: #f8f8ffda;
}
/* 로그인 박스 안에 인풋(아이디, 패스워드) 들을 담고 있는 공간입니다. -- 작업자 : 이찬용  */
.loginbox_in_input_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;

  width: 100%;
}
.id_box{
  margin-top: 20px;
  padding-left: 10px;
  width: 90%;
  height: 50px;
  background-color: transparent;

  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.id_box::placeholder {
  color: #f8f8ff;
}
.id_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}


.ps_box{
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  height: 50px;
  background-color: transparent;

  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5) inset;
}
.ps_box::placeholder {
  color: #f8f8ff;
}
.ps_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
/* 로그인 버튼입니다.- 작업자: 이찬용 */
.login_submit_button {
  position: relative;
  margin-top: 30px;
  width: 92%;
  height: 50px;
  color: #f8f8ff;
  border: none;

  border-top: 1px solid #f8f8ff7f;
  border-bottom: 1px solid #f8f8ff7f;
  /* 배경 색임. */
  background: rgba(255, 255, 255, 0.05);
  transition: 0.9s;
  text-align: center;
  text-justify: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  /* backdrop-filter: blur(40px); */
  overflow: hidden;
}
.login_submit_button:hover{
  font-size: 35.5px;
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.login_submit_button::before{
  content: '';
  position: absolute;
  transition: 0.8s;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.30),transparent);
  transform: skewX(45deg) translateX(0);
}
.login_submit_button:hover::before{
  transform: skewX(45deg) translateX(300%);
  box-sizing: border-box;
  transition: 0.5s;
}
/* ---- 전역 css */
.login_bgm_b{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}
.login_bgm{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.find_ps_id{
  margin-top: 10px;
  color: #f8f8ff;
  text-decoration: none;
}
/* -----------------------------------------팝업 페이지 */
.main_popup_page{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 700px;
  height: 500px;

  background-color: #f09bb07b;
  border-radius: 10px;
  z-index: 20;

  backdrop-filter: blur(40px);
  box-shadow: 0 0 80px rgba(0, 0, 0, .5);
}
.main_popup_page_close{
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 30px;
  background: transparent;
  border: none !important;
  box-shadow: none !important;
}
.main_popup_page_close:hover{
  border-radius:9px;
  backdrop-filter: blur(90px);

}
.main_popup_page_text {
  text-align: center
}

.hidden {
  display: none;
}

@media (max-width: 800px) {
  .main_popup_page{
    width:90%;
    height: 500px;
  }
}





/* ---------------------------------회원가입 페이지 */

.sign_up_page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.sign_up_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6b8c42a;
  width: 400px;
  height: 540px;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 40px rgba(0, 0, 0, .6);
  border: 1px solid rgba(255, 255, 255, .5);
}
.signupbox_in_input_box{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 10px;
}

.signup_id_box{
  padding-left: 10px;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.signup_id_box::placeholder {
  color: #f8f8ff;
}
.signup_id_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
.signup_ps_box{
  margin: 10px;
  padding-left: 10px;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.signup_ps_box::placeholder {
  color: #f8f8ff;
}
.signup_ps_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
.signup_re_ps_box{
  padding-left: 10px;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.signup_re_ps_box::placeholder {
  color: #f8f8ff;
}
.signup_re_ps_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
.signup_name_box{
  margin-top: 20px;
  padding-left: 10px;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.signup_name_box::placeholder {
  color: #f8f8ff;
}
.signup_name_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
.signup_date_box{
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #eaeaea;
  outline-color: #f8f8ff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
}
.signup_date_box::placeholder {
  color: #f8f8ff;
}
.signup_date_box:focus {
  outline: 1px solid #f8f8ff;
  background-color: #64646438;
}
/* 인포메이션 두개 : */
.my_infomation{
  display: flex;
  justify-content: center;

  width: 97%;
}
.my_infomation_wan_btn{
  position: relative;
  width: 90%;
  height: 35px;
  color: #f8f8ff;
  border: none;


  border-top: 1px solid #f8f8ff7f;
  border-bottom: 1px solid #f8f8ff7f;
  /* 배경 색임. */
  background: rgba(255, 255, 255, 0.05);
  transition: 0.9s;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  /* backdrop-filter: blur(40px); */
  overflow: hidden;

  padding: 8px;
}
.my_infomation_wan_btn:hover{
  font-size: 29px;
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.my_infomation_wan_btn::before{
  content: '';
  position: absolute;
  transition: 0.8s;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.30),transparent);
  transform: skewX(45deg) translateX(0);
}
.my_infomation_wan_btn:hover::before{
  transform: skewX(45deg) translateX(300%);
  box-sizing: border-box;
  transition: 0.5s;
}


/* 성별 구분 박스 */
.gender_choice{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gender_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;

  margin-top: 5px;
}
.male_choice{
  margin-left: 30px;
  font-size: 24px;
  display: flex;
  font-weight: 800;
  color: #f8f8ff;
}

.gender_box_name{
  color: #f8f8ff;
  font-size: 29px;
  margin-right: 30px;
}
/* ------------------------------------------------ */
.signup_wan_btn {
  position: relative;
  margin-top: 20px;
  width: 92%;

  height: 55px;
  color: #f8f8ff;

  border-top: 1px solid #f8f8ff7f;
  border-bottom: 1px solid #f8f8ff7f;
  /* 배경 색임. */
  background: rgba(255, 255, 255, 0.05);
  transition: 0.9s;
  text-align: center;
  text-justify: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  /* backdrop-filter: blur(40px); */
  overflow: hidden;
}
.signup_wan_btn:hover{
  font-size: 30.5px;
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.signup_wan_btn::before{
  content: '';
  position: absolute;
  transition: 0.8s;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.30),transparent);
  transform: skewX(45deg) translateX(0);
}
.signup_wan_btn:hover::before{
  transform: skewX(45deg) translateX(300%);
  box-sizing: border-box;
  transition: 0.5s;
}

/* ------------------------------------------채팅창 */
.chatbox_bg{
  display: flex;
  justify-content: center;
}

/* 임영찬 채팅 -- 시작 */
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;                 /* 여기 고쳐야함*/
  height: 86%;
  padding-bottom: 10px;

  border-top-right-radius: 10px ;
  border-top-left-radius: 10px ;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;
  overflow: auto;

}
.message {
  padding: 4px 8px;
  border-radius: 8px;
  max-width: 80%;
}
.my-message {
  color: #f8f8ff;
  align-self: flex-end;
}

.other-message {
  color: #f8f8ff;
  align-self: flex-start;
}

/* 임영찬 채팅 ---끝*/

.chatbox_box{
  margin-top: 120px;

  padding: 10px;


  width:70%;
  height: 560px;
  border-radius: 20px;
  background-color: #d3d3d363;
  /* background:transparent; */
  backdrop-filter: blur(60px);
  box-shadow: 0 0 40px rgba(0, 0, 0, .6);
}
/*  스크롤바 */
.messages::-webkit-scrollbar {
  width: 10px;
}
.messages::-webkit-scrollbar-track {
  background-color: #ccc6c688;
  border-radius: 100px;
}


.messages::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg,#8499d1de 0%, #708bd4de 30%, #d0368be5 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~말풍선 */
.chatbox_talk_box{
  background-color: #3636365c;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
}


.chatbox_input{
  display: flex;
  align-items: center;
  width: 100%;
  height: 12%;
  /* background-color: #6e346fec; */
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  /* bottom: 10px; */
  box-shadow: 0 0 40px rgba(0, 0, 0, .5);

}
/* 채팅글을 적는 공간입니다. */
.chat_input_text{
  background-color: #6f6f6faa;
  width: 80%;
  margin-left: 15px;

  /* 글이 써지는 위치입니다. */
  padding: 10px;
  padding-left: 20px;

  border-radius: 30px;
  font-size: 18px;
  color: #f8f8ff;
  box-shadow: 0 0 7px rgba(0, 0, 0, .7) inset;
  border: none;
}
.chat_input_text:focus{
  outline: 0.5px solid #eaeaea;
}
.chatbox_input_in{
  display: flex;
  justify-content: space-between;
}
.chat_send_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8ff;
  font-weight: bold;
  height: 40px;
  border-radius: 25px;
  width: 70px;
  margin-left: 15px;
  background-color: #4d4d4d;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}


.you_chat_Profil{
  position: relative;

  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 420px;
  margin-right: 10px;
}
.my_chat_Profil{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 420px;
  margin-left: 10px;
}
.chat_Profil_img_box{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #a4a1a4;
  box-shadow: 0 0 40px rgba(0, 0, 0, .6);

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

}
.chat_Profil_img{
  width: 100%;
  transition-duration: 0.5s;
}
.chat_Profil_img_box:hover{
  box-sizing: border-box;
  border: 1px solid #f8f8ff;
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);

}
.chat_Profil_img:hover{

  transform: scale(1.1);
  transition-duration: 0.5s;
}
.you_chat_Profil_name{
  margin-top: 10px;
  color: #f8f8ffb6;
}
.my_chat_Profil_name{
  color: #f8f8ffb6;
  margin-top: 10px;
}

.imotion_box{
  padding: 6px;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(130deg, #625be5c0 0%, #cc42d1b2 99%);

  /* backdrop-filter: blur(40px); */
}
.imotion_btn{
  margin: 2px;
  height: 25px;
  border-radius: 22.5px;
  border: 1px solid #4d4d4d;

  
  transition: all .2s ease;
}
.imotion_btn:hover{
  box-shadow: inset 0 0 2px 3px #999, inset 0 0 4px #aaa;
}
.imotion_btn:active{
  box-shadow: inset 0 0 3px 5px #999, inset 0 0 8px #aaa;
}




/* ------------------------------------------footer */
.footer{
  padding-top: 50px;
  width: 100%;
  height: 400px;
  background-color: #f8f8ff;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #686868;
}
.source{
  width: 90%;
}
.member{
  width: 90%;
}
.source>img{
  margin: 10px;
}
/* ------------------------------------------채팅창 리스트 */
.chatlist_background{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatlist_box{
  width: 600px;
  height: 540px;
  margin-top: 120px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 10px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .5);
}

.chatlist_box_in{
  padding: 20px;
  overflow: auto;
}
.chatlist_inner_box{
  overflow: auto;
  height: 430px;
  padding: 10px;
  border-radius: 10px;
}
.chatlist_inner_box::-webkit-scrollbar {
  width: 10px;
}
.chatlist_inner_box::-webkit-scrollbar-track {
  background-color: #e3e3e33e;
  border-radius: 100px;
}
.chatlist_inner_box::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
.chatlist_inner_box {
  scrollbar-color: #D4AA70 #e4e4e4;
}
.chatlist_inner_box::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #4d71d3ad 0%, #df479a9b 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
/* -------------------------------------------------채팅창 공간 내 박스 효과 */
.chatlist_list_header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.chatlist_list_header>h1{
  color: #f8f8ff;
}
.chat_list_contents{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  border: 1px solid #f8f8ff;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: transparent;
  box-shadow: 0 0 30px rgba(0, 0, 0, .4);
  width: 100%;
  height: 70px;
}
.chat_list_name{
  margin-left: 10px;
  font-size: large;
  color: #f8f8ff;
  font-size: 20px;
  font-weight: 700;
}
.chat_list_talk_preview{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  height: 50px;
  font-size: large;
  border-left: 1px solid #f8f8ff;
  margin-left: 20px;
  color: #eaeaea;
}
.chat_list_contents:hover{
  box-sizing: border-box;
  background-color: #d1d1d157;
  border-radius: 10px;
}
.chat_list_profile_img_box{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #f8f8ff;
  margin-left: 10px;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_list_profile_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------------------채팅리스트 메세지 팝업 */
.chatlist_popup_page{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 380px;
  height: 140px;

  background-color: #e6abba58;
  border-radius: 10px;
  z-index: 20;

  backdrop-filter: blur(40px);
  box-shadow: 0 0 80px rgba(0, 0, 0, .5);
}
/* 챗 리스트 안에 있는 팝업 페이지를 끄기 위한 장치입니다. */
.chatlist_popup_page_close{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: transparent;
  border: none !important;
  box-shadow: none !important;
}
.chatlist_popup_page_close:hover{
  border-radius:9px;
  background-color: #68686875;
  backdrop-filter: blur(90px);

}
.chatlist_popup_page_text {
  text-align: center
}

/*  -----------전역 css팝업을 숨기기  위한 장치. */
.hidden {
  display: none;
}

/* ------------------------------------------사이드 메뉴 바 */
.side_menu_box{
  position: fixed;
  width: 100px;
  height: 200px;
  right: 50px;
  top: 100px;
}
.side_menu_list{
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.side_menus_menu{
  text-align: center;
  
  font-family: 'HakgyoansimWoojuR';

  position: relative;
  margin-top: 10px;
  width: 120px;
  height: 40px;
  background-color: #e6abba58;
  backdrop-filter: blur(10px);
  display: inline-block;
  padding: 4px 4px;
  color: #d721f3d5;
  font-size: 35px;
  transition: 0.2s;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-top: 1px solid #c5c5c5a4;
  border-bottom: 1px solid #c5c5c5a4;
  background: linear-gradient(180deg, rgba(227, 227, 227, 0.399), transparent,rgba(227, 227, 227, 0.399));
}

.side_menus_menu:hover{
  color: #255784;
  background: linear-gradient(180deg, #df63f2d5, #d721f3d5,#df63f2d5);
  /* background: linear-gradient(180deg, #f1a173e6, #ea7e3fe6,#f8a16fe6); */
  box-shadow:  0 0 10px #d721f3d5, 0 0 40px #d721f3d5, 0 0 80px #d721f3d5;
  /* transition-delay: 0.25s; d721f3d5 */
}
/* ------------------------------------------- 매칭페이지*/
.matching_bg{

  display: flex;
  justify-content: center;
  align-items: center;
}
.matching_in_box{
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 10px;
  border: 1px solid #f8f8ff97;

  backdrop-filter: blur(30px);
  box-shadow: 0 0 40px rgba(0, 0, 0, .5);
  width: 600px;
  height: 560px;

  overflow:hidden;

  position: relative;
  top: 10px;

}

.swiper {
  width: 360px;
  height: 480px;
}

.swiper-slide {
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}
.mat_info_card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: #eadcdc;

}
.info_img_box{
  width: 90%;
  height: 60%;
  background-color: #ae6464;
  border-radius: 10px;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.matching_img{
  /* width: 100%; */
  height: 100%;
  height: 100%;
  object-fit: cover;
}
.info_info_box{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
}
.mat_popup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 380px;
  height: 140px;

  background-color: #e6abba58;
  border-radius: 10px;
  z-index: 20;

  backdrop-filter: blur(40px);
  box-shadow: 0 0 80px rgba(0, 0, 0, .5);;
}
.mat_popup_close{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: transparent;
  border: none !important;
  box-shadow: none !important;
}
.mat_popup_close:hover {
  border-radius:9px;
  background-color: #68686875;
  backdrop-filter: blur(90px);

}
.mat_popup_text {
  text-align: center
}
.matching_submit_button{
  border: none;
  width: 100px;
  height: 60px;
  border-radius: 10px;

  font-size: 19px;
  font-weight: 900;
  color: #f2f2f2c9;

  background:linear-gradient(90deg,#845EC2 0%,#D65DB1 99%);
  

  /* border-top: 1px solid #686868; */
  /* border-bottom: 1px solid #686868; */

  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.matching_submit_button:active{
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/* ------------------------------------------프로필 페이지 */

.profile_in_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: none;
  border-radius: 10px;
  border: 1px solid #f8f8ff97;

  backdrop-filter: blur(30px);
  box-shadow: 0 0 40px rgba(0, 0, 0, .5);
  width: 600px;
  height: 540px;

  overflow:hidden;
  margin-top: 110px;

}


.profile_box_header_box, .profile_img_chainge_box {
  display: flex;
  width: 100%;
  height: 20%;
}
.profile_name_chainge_box{
  display: flex;
  width: 100%;
  height: 10%;
}
.profile_myinfo_box{
  display: flex;
  width: 100%;
  height: 30%;
}
.profile_box_logo, .profile_img_text, .profile_name_chainge_text, .profile_myinfo_box_text{
  width: 30%;
  height: 100%;
}

/* 프로필 박스 안에 상단에 프로필 글씨 */
.profile_box_header_name{
  font-size: 100px;
  color: #f2f2f2e5;
}

.profile_img_text, .profile_name_chainge_text, .profile_myinfo_box_text{
  padding-left: 20px;
  font-size: 12px;
  color: #efefef;
}
.profile_img_chainge_input_box{
  width: 70%;

  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.profile_img_chainge{
  width: 110px;
  height: 110px;

  overflow: hidden;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_img_chainge_at{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile_img_chainge_btn{
  width: 110px;
  height: 110px;
  background:none;

  border-radius: 10px;
  z-index: 10;
}

/* 프로필 이름을 바꾸는 공간 */
.profile_name_chainge_input{

  margin-top: 10px;
  display: flex;
  width: 70%;

  align-items: center;
  /* justify-content: center; */
}
.profile_name_input_in{
  width: 80%;
  height: 40px;
  border-radius: 10px;
  background-color: #5f5f5f5a;
  font-size: 20px;
  color: #f8f8ff;

  padding-left: 5px;
  padding-right: 5px;

  border: 1px solid #4d4d4d8c ;
  box-shadow: 0 0 17px rgba(0, 0, 0, .5);
}
.profile_name_input_in::placeholder{
  color: rgba(198, 198, 198, 0.783);
  font-size: 19px;
}

/* 프로필 자기소개를 바꾸는 공간 */
.profile_myinfo_box_input{
  width: 70%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.profile_myinfo_box_input_in{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: #5f5f5f5a;
  font-size: 20px;
  color: #f8f8ff;

  padding: 5px;
  border: 1px solid #4d4d4d8c ;
  box-shadow: 0 0 17px rgba(0, 0, 0, .5);
}

.profile_submit_button {
  position: relative;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  color: #f8f8ff;
  border: none;

  border-top: 1px solid #f8f8ff7f;
  border-bottom: 1px solid #f8f8ff7f;
  /* 배경 색임. */
  background: rgba(255, 255, 255, 0.05);
  transition: 0.9s;
  text-align: center;
  text-justify: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  /* backdrop-filter: blur(40px); */
  overflow: hidden;
}
.profile_submit_button:hover{
  font-size: 35.5px;
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.profile_submit_button::before{
  content: '';
  position: absolute;
  transition: 0.8s;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.30),transparent);
  transform: skewX(45deg) translateX(0);
}
.profile_submit_button:hover::before{
  transform: skewX(45deg) translateX(300%);
  box-sizing: border-box;
  transition: 0.5s;
}
/* 로딩중 박스 만들기입니다. */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.loading_bg{
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #000;
  overflow: hidden;
}
.loading_container{
  position: relative;
  width: 100%;
  /* transform: rotate(-35deg); */
}
.loading_container .loading_box{
  position: relative;
  left: -200px;
  display: flex;

  justify-content: center;
  align-items: center;

  width: calc(100% + 400px);


  -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
  animation: animateSurface 1.5s ease-in-out infinite;
}
@keyframes animateSurface{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-200px);
  }
}
.loading_container .loading_box .loading_cube{
  position: relative;
  width: 200px;
  height: 200px;
  background: #03e9f4;
  box-shadow:  0 0 5px rgba(3,233,244,1),
  0 0 25px rgba(3,233,244,1),
  0 0 50px rgba(3,233,244,1),
  0 0 100px rgba(3,233,244,1),
  0 0 200px rgba(3,233,244,0.5),
  0 0 300px rgba(3,233,244,0.5);

  transform-origin: bottom right;

  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  60%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(85deg);
  }
  70%{
    transform: rotate(90deg);
  }
  75%{
    transform: rotate(87.5deg);
  }
  80%,100%{
    transform: rotate(90deg);
  }
}
.loading_text{
  position: absolute;
  margin-left: 45%;
  color: rgba(245, 245, 245, 0.67);
}






/* ------------------------------------------media */
@media (max-width: 800px) {
  .profile_in_box{
    width: 98%;
    margin-top: 70px;
  }
  .profile_img_chainge_btn{
    left: 34.2%;
  }
  .swiper {
    width: 330px;
    height: 440px;
  }
  .matching_in_box{
    width: 98%;
    margin-top: 60px;
  }
  .menuicon {
    display: none;
  }
  .top {
    justify-content: space-between;
  }
  .main_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav_login_btn {
    width: 100px;
  }
  .secret_menu{
    display: flex;
  }
  .menu_list_open{
    display: flex;
  }
  .you_chat_Profil{
    display: none;
  }
  .my_chat_Profil{
    display: none;
  }
  .chatbox_box{
    width: 90%;
    margin-top: 80px;
  }
  .chatlist_box{
    margin-top: 70px;
  }
  .side_menu_box{
    position: relative;
    width: 90%;

    height: 70px;
    right: 50px;
    top: 100px;
  }
  .side_menu_list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin-left: 10px;
  }
  .side_menu_background{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
  }
  .side_menus_menu{
    margin-top: -40px;
    width: 30%;
  }
}
@media (max-width: 680px) {
  .chatbox_box{
    width: 100%;
    transition-duration: 0.3s;
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .chatlist_box{
    width: 98%;
  }
  .main_popup_page{
    width: 98%;
    height: 80%;
  }
}



/* 하트 이모션 작동  */
.emt_hart, .emt_sad, .emt_angry {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -30px;
  opacity: 0;
  z-index: -22;

  font-size:30px;
}

@keyframes moveFadeOut {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  20% {
    transform: translate(5px, -10px);
  }
  40% {
    transform: translate(-4px, -20px);
  }
  60% {
    transform: translate(3px, -30px);
  }
  80% {
    transform: translate(-2px, -40px);
  }
  100% {
    transform: translate(0px, -50px);
    opacity: 0;
  }
}
.moveFadeOut {
  animation: moveFadeOut 3s linear forwards;
}

/* 앵그리 이모션 작동
.emt_angry{
  width: 120px;
  height: 120px;
  position: absolute;
  top: -10px;
  opacity: 0;

  font-size:120px;
  z-index: -10; */
/* } */
/* @keyframes angryMoveFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}


.angryMoveFadeOut {
  animation: angryMoveFadeOut 3s linear forwards;
} */



